
.maxwidth{
  width: 80%;
  margin: auto;
}
#nav{
  display: flex;
  
  justify-content: space-between;
  padding: 10px;
}
#banner{
  display: flex;
  justify-content: space-around;
 
}

.btn{

  background-color: red;
  color: white;
border: none;
padding: 10px;
}
#main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn1{

  background-color: whitesmoke;
  color: black;
border: none;
padding: 30px;
color: gray;
margin: 20px;}
#teka{
  background-color: hsl(0, 100%, 97%);
  color: red;
  border: red;

}
#btn2{ display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
#kochu{ display: flex;
  flex-direction: column;
  align-items: center;

}
.fein{
   display: grid;
    grid-template-columns: 
    repeat(3, 1fr);
    gap: 10px;
    padding: 100px;
}
.fein2{
  padding: 30px;
}
#banner2{
  display: flex;
   flex-direction: column;
  align-items: left  ;
}
#banner3{
display: flex;
  justify-content: space-around;
  margin: 120px;

}
#banner4{
display: flex;
  justify-content: space-around;
  margin: 120px;

}
#yo{
  text-align: right;
}
#banner5{

  background-color: hsl(44, 100%, 92%);
  margin: 80px;
  display: flex;
  
  justify-content: space-around;
  padding: 10px;
}